$color-border: black;
$color-box-1-left: #fdcdcd;
$color-box-1-center: grey;
$color-box-1-right: yellow;
$color-box-2-left: #4eb2af;
$color-box-2-center: grey;
$color-box-2-right: yellow;
$color-box-3-left: #a9c23f;
$color-box-3-center: grey;
$color-box-3-right: yellow;
$color-box-4-left: #a9a9ad;
$color-box-4-center: grey;
$color-box-4-right: yellow;
$color-border-boxes: rgb(160, 157, 157) 0.5px;

$font-family-bottom: Arial, Helvetica, sans-serif;
